<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
 id="WebApp_ID" version="3.1">
 
  <display-name>fareCompare</display-name>
 
	
	<welcome-file-list>
		<welcome-file>
			/
		</welcome-file>
	</welcome-file-list>
	
 	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Disable unneeded HTTP methods by 403 Forbidden them</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method-omission>GET</http-method-omission>
			<http-method-omission>POST</http-method-omission>
			<http-method-omission>OPTIONS</http-method-omission>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
	
	<filter>
		<filter-name>CrossSiteScriptFilter</filter-name>
		<filter-class>com.hanatour.fareCompare.filter.CrossSiteScriptFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CrossSiteScriptFilter</filter-name>
		<url-pattern>*.hnt</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>400</error-code>
		<location>/400/message.hnt</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/403/message.hnt</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404/message.hnt</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/405/message.hnt</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500/message.hnt</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/503/message.hnt</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/504/message.hnt</location>
	</error-page>
</web-app>